body {
  font-family: "poppins";
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  max-width: 1200px;
  min-height: 100vh;
}

img {
  width: 100%;
  height: 100%;
  max-width: 500px;
}

/* Header */
header {
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-around;
  padding: 10px 20px;
  border-bottom: solid 2px;
  height: 100px;
  width: 100%;
  max-width: 1200px;
  padding: 0px;
  background-color: white;
  z-index: 1;
}

header img {
  max-width: 200px;
}

/* Navigation*/

nav {
  display: none;
  position: fixed;
  top: 100px;
  background: black;
  right: 0px;
  text-align: center;
  padding: 0px 50px 0px 50px;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

label {
  font-size: 2em;
}

nav ul {
  padding: 0px;
}

nav li {
  display: block;
  padding: 20px;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

/* Buttons */

.cta {
  background-color: #14780d;
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 10px 37px;
}

/* Home page */
.main-page {
  display: grid;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/indexbackground.webp");
  background-size: cover;
  background-color: black;
  margin-top: 100px;
}

.main-page-content {
  color: white;
  grid-gap: 10px;
  padding: 10px;
  max-width: 900px;
  text-align: center;
}

.index-space {
  min-height: 150px;
}

.home-page-text {
  display: flex;
  margin: auto;
  text-align: center;
  max-width: 900px;
  position: relative;
  top: -70px;
}
/* Footer */

footer {
  background-color: black;
  color: white;
  text-align: center;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

@media (min-width: 800px) {
  main {
    font-size: 20px;
  }

  h1 {
    font-size: 90px;
    text-align: center;
    font-weight: bold;
  }

  h2 {
    font-size: 28px;
    font-weight: normal;
  }

  nav {
    display: block;
    position: static;
    background-color: transparent;
  }

  nav a {
    color: black;
  }
  nav li {
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
  }

  header label {
    display: none;
  }

  .home-pic-floater {
    display: flex;
    max-width: 900px;
    min-width: 800px;
    justify-content: space-between;
    margin: auto;
    position: relative;
    top: -125px;
  }
  .home-pic-floater img {
    max-width: 250px;
  }
}
