/* Global Styles */

body {
  font-family: "poppins", Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  font-display: swap;
  flex-direction: column;
  width: 100%;
  margin: auto;
  max-width: 1200px;
  min-height: 100vh;
  font-size: 20px;
}

img {
  width: 100%;
  border-radius: 10%;
  max-width: 500px;
  max-height: 500px;
  margin: auto;
  padding: 10px 0px 10px 0px;
}

h1 {
  font-size: 45px;
  font-weight: bold;
  margin-top: 110px;
  text-align: center;
}

h2 {
  font-size: 20px;
  font-weight: normal;
  margin: 20px;
}

.title {
  font-weight: bold;
}

.text-box {
  margin: 20px;
}

/* Header */
header {
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-around;
  padding: 10px 20px;
  border-bottom: solid 2px;
  height: 100px;
  width: 100%;
  max-width: 1200px;
  padding: 0px;
  background-color: white;
  z-index: 1;
}

.logo {
  max-width: 200px;
  max-height: 150px;
}

/* Navigation*/

nav {
  display: none;
  position: fixed;
  top: 100px;
  background: black;
  right: 0px;
  text-align: center;
  padding: 0px 50px 0px 50px;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  font-size: 16px;
}

label {
  font-size: 2em;
}

nav ul {
  padding: 0px;
}

nav li {
  display: block;
  padding: 20px;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.active {
  text-decoration: underline;
}

/* Buttons */

.cta {
  background-color: #14780d;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 10px 30px;
}

.cta:hover {
  background-color: #ffffff;
  color: black;
  text-decoration: none;
}

/* Home page */

.main-page {
  display: grid;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/indexbackground.png");
  background-size: cover;
  background-color: black;
  margin-top: 100px;
}

.main-page-content {
  color: white;
  grid-gap: 10px;
  padding: 10px;
  max-width: 900px;
  text-align: center;
}

.index-space {
  min-height: 50px;
}

.home-pic-floater {
  display: none;
}

.home-page-text {
  display: flex;
  margin: auto;
  text-align: center;
  max-width: 900px;
  position: relative;
  padding: 20px;
}

/* Explore Page */

.explore-libary-picture {
  display: none;
}

.underpages-structure {
  display: grid;
  grid-template-columns: repeat(1);
}

/* Events page */

.image-hidden {
  display: none;
}

.images-box {
  margin: auto;
}

/* Visit */

li {
  display: block;
}

iframe {
  width: 100%;
  height: 250px;
  border: none;
  padding: 40px 0px 20px 0px;
}

/* Footer */

footer {
  background-color: black;
  color: white;
  text-align: center;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

@media (min-width: 600px) {
  .home-pic-floater {
    display: flex;
    max-width: 800px;
    min-width: 600px;
    justify-content: space-between;
    margin: auto;
    position: relative;
    top: -125px;
  }
  .home-pic-floater img {
    max-width: 150px;
  }

  h1 {
    font-size: 60px;
    font-weight: bold;
    grid-column: -1/1;
  }

  .cta {
    font-size: 32px;
    padding: 10px 37px;
  }
  .index-space {
    min-height: 150px;
  }

  .home-page-text {
    top: -70px;
  }

  .underpages-structure {
    grid-template-columns: repeat(2, 1fr);
  }
  .explore-libary-picture {
    display: block;
  }
  .image-hidden {
    display: block;
  }

  iframe {
    height: 500px;
  }
}

@media (min-width: 800px) {
  main {
    font-size: 20px;
  }

  h1 {
    font-size: 85px;
    text-align: center;
    font-weight: bold;
  }

  nav {
    display: block;
    position: static;
    background-color: transparent;
  }

  nav a {
    color: black;
  }
  nav li {
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
  }

  header label {
    display: none;
  }

  .home-pic-floater {
    display: flex;
    max-width: 900px;
    min-width: 800px;
    justify-content: space-between;
    margin: auto;
    position: relative;
    top: -125px;
  }
  .home-pic-floater img {
    max-width: 250px;
  }

  iframe {
    height: 600px;
  }
}
